@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(185deg, 41%, 84%);
}

body {
  font-family: "Space Mono", monospace;
}
body input {
  font-family: "Space Mono", monospace;
}

.input-label {
  font-size: 18px;
  color: hsl(186deg, 14%, 43%);
}

.input-data input {
  font-size: 24px;
  color: hsl(183deg, 100%, 15%);
}

#percentage-btns .percentage-btn {
  color: hsl(0deg, 0%, 100%);
  font-size: 24px;
}
#percentage-btns #custom-input {
  font-size: 24px;
  color: hsl(183deg, 100%, 15%);
}

#calculator--results div p:nth-child(1) {
  color: white;
}
#calculator--results div p:nth-child(1) span {
  color: hsl(184deg, 14%, 56%);
  font-size: 14px;
}
#calculator--results div p:nth-child(2) {
  color: hsl(172deg, 67%, 45%);
  font-size: 32px;
}

#reset {
  text-transform: uppercase;
  font-size: 18px;
}
#reset p {
  color: hsl(183deg, 100%, 15%) !important;
}

#percentage-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
#percentage-btns .percentage-btn {
  background: hsl(183deg, 100%, 15%);
  border-radius: 8px;
  padding: 8px 0;
  display: grid;
  place-items: center;
  position: relative;
  transition: top 250ms ease;
  cursor: pointer;
}
#percentage-btns .percentage-btn:active {
  top: 2px;
  transition: top 250ms ease;
}
#percentage-btns .percentage-btn.active {
  color: hsl(183deg, 100%, 15%);
  background: hsl(172deg, 67%, 45%);
}
#percentage-btns #custom-input {
  display: grid;
  place-items: center;
  background: hsl(189deg, 41%, 97%);
  border: none;
  width: 147.5px;
  text-align: right;
  padding-right: 8px;
  border-radius: 8px;
  cursor: pointer;
}
#percentage-btns #custom-input:focus {
  outline: 4px solid hsl(172deg, 67%, 45%);
}

#reset {
  opacity: 0.5;
  background: hsl(172deg, 67%, 45%);
  padding: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background 150ms ease;
}
#reset p {
  margin: 0 auto;
}
#reset.active {
  opacity: 1;
}
#reset.active:hover {
  background: hsl(185deg, 41%, 84%);
}

#tip__calc__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

#calculator {
  width: 375px;
  border-radius: 16px 16px 0 0;
  background: hsl(0deg, 0%, 100%);
  padding: 32px 0;
}
#calculator--input {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#calculator--input .input-label {
  margin-bottom: 8px;
}

.input-data {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: hsl(189deg, 41%, 97%);
  padding: 8px 16px;
  border-radius: 4px;
}
.input-data input {
  border: none;
  text-align: right;
  background: none;
  position: relative;
  width: 250px;
}
.input-data input:focus {
  outline: none;
}

#calculator--results {
  display: flex;
  flex-direction: column;
  gap: 28px;
  background: hsl(183deg, 100%, 15%);
  margin: 32px 24px 0 24px;
  border-radius: 12px;
  padding: 32px 24px 24px 24px;
}
#calculator--results > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
