@import '../abstracts/colors';
#calculator
{
    width: 375px;
    border-radius: 16px 16px 0 0;
    background: $white;
    padding: 32px 0;

    &--input
    {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .input-label
        {
            margin-bottom: 8px;
        }
    }
}

@media only screen and (min-width: 1366px)
{
    #calculator
    {
        display: flex;
        align-items: center;
        width: 920px;
        padding: 0;
        height: 481px;
        border-radius: 16px;

        > * {flex: 1;}
    }
}