
.input-field
{
    position: relative;

    .zero-error
    {
        display: block;
        position: absolute;
        top: -30px;
        right: 0;
        color: rgb(255, 75, 75);
        transition: top 250ms ease, opacity 250ms ease;
        opacity: 0;

        &.show
        {
            right: 0;
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 768px)
{
    .input-field
    {
        .zero-error
        {
            display: block;
            color: white;
            top: -5px;
            left: -225px;
            padding: 16px;
            width: 20ch;
            opacity: 0;
            background: rgb(255, 75, 75);
            transition: left 250ms ease, opacity 250ms ease;
            clip-path: polygon(0px 0px, 144px 0px, 144px 0px, 191px 29px, 142px 56px, 0px 56px);

            &.show
            {
                display: block;
                left: -230px;
                opacity: 1;
            }
        }
    }
}