@import '../abstracts/colors';
#percentage-btns
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    .percentage-btn
    {
        background: map-get($cyan, verydarkgray);
        border-radius: 8px;
        padding: 8px 0;
        display: grid;
        place-items: center;
        position: relative;
        transition: top 250ms ease;
        cursor: pointer;

        &:active
        {
            top: 2px;
            transition: top 250ms ease;
        }

        &.active
        {
            color: map-get($cyan, 'verydarkgray');
            background: map-get($cyan, 'strong')
        }
    }

    #custom-input
    {
        display: grid; 
        place-items: center;
        background: map-get($cyan, 'verylightgray');
        border: none;
        width: 147.5px;
        text-align: right;
        padding-right: 8px;
        border-radius: 8px;

        &:focus{outline: none;}
    }
}