@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import '../abstracts/colors';
$space: 'Space Mono', monospace;

body
{
    font-family: $space;
    input{font-family: $space}
}

.input-label
{
    font-size: 18px;
    color: map-get($cyan, 'darkgray')
}

.input-data
{
    input
    {
        font-size: 24px;
        color: map-get($cyan, 'verydarkgray')
    }
}

#percentage-btns
{
    .percentage-btn
    {
        color: $white;
        font-size: 24px;
    }

    #custom-input
    {
        font-size: 24px;
        color: map-get($cyan, 'verydarkgray')
    }
}

#calculator--results
{
    div
    {
        p:nth-child(1)
        {
            color: white;
            span
            {
                color: map-get($cyan, 'gray');
                font-size: 14px;
            }
        }

        p:nth-child(2)
        {
            color: map-get($cyan, 'strong');
            font-size: 32px;
        }
    }
}

#reset
{
    text-transform: uppercase;
    font-size: 18px;
    p{color: map-get($cyan, 'verydarkgray') !important;}
}